<h1>About</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet sequi excepturi ut, magni esse dolorem assumenda error itaque voluptatum consequuntur dignissimos sint facere quas quo quibusdam dicta veritatis sed laudantium!</p>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Panel title</h3>
	</div>
	<div class="panel-body">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque non a, voluptate ex corporis tenetur molestias aut fugiat distinctio reiciendis explicabo. Hic porro totam assumenda error, vero, fugiat reprehenderit.
</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Panel title</h3>
	</div>
	<div class="panel-body">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque non a, voluptate ex corporis tenetur molestias aut fugiat distinctio reiciendis explicabo. Hic porro totam assumenda error, vero, fugiat reprehenderit.
	</div>
</div>