@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
h1, h2, h3 {
	font-weight: 400;
}
h1 {
	font-size: 16vw;
	span {
		&:after {
			content: ':';
		}
		&:last-child:after {
			content: '';
		}
	}	
}
h2 {
	font-size: 6vw;
	margin-bottom: 5vh;
}
h3 {
	font-size: 4vw;
}
.glyphicon-refresh {
	animation: loading 1s infinite linear;
}
