@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
h1 {
	span {
		&:after {
			content: ':';
		}
		&:last-child:after {
			content: '';
		}
	}	
}
.glyphicon-refresh {
	animation: loading 1s infinite linear;
}
